

html,
body {


}
button{

border: none;
outline: none;
background: none;

}

body {
  background: #ffe4ba;
}


/* Section Nav bar

*/
.navbar-brand {
  font-family: 'Berkshire Swash', cursive;
}

.nav-link{
  font-family: 'Berkshire Swash', cursive;
}
/* Section Welcome */

.Welcome{

position:relative;





}

.Welcome .photo{

width: 100%;
  height: 100%;
}

.Welcome .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}


/* Contents section */
.contenttitle{

  background: #fff8ee;
  font-family: 'Dr Sugiyama', cursive;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

.glimpse{

  background: #fff8ee;
  font-family: 'Berkshire Swash', cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #545454;


}

.links{
  background: #fff8ee;
  font-family: 'Berkshire Swash', cursive;


  text-align: center;
}


.homesection{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btnimage{
  width: 350px;
  height: 350px;
}

.btnimage:hover {
    opacity: 0.5;
}
 .WaveBottom{
background:  #ffe4ba;
 }
/* Aboutme section */


.text-end{

  text-align: right;
}

#about{
font-family: 'Dr Sugiyama', cursive;

}
.aboutcontent{

  text-align: center;
  font-size: 15px;

}

.aboutMe{
   background: #ffe4ba;
   font-family: 'Charm', cursive;
   font-size: 30px;



 }
 .aboutpad{
   padding-left: 50%;
   padding-right: 50%;
 }

 /* Time line section*/
 .careerwave{
background:  #fff8ee;
 }
.timeline{
  background: #fff8ee;
  font-family: 'Dr Sugiyama', cursive;
}

/* Skills and tools */

.skillstools{

  background: #fff8ee;
  font-family: 'Dr Sugiyama', cursive;
}

/* footer section */

.footer{
    text-align: center;
  background: #fff8ee;
}
